<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    {{> styles}}
  </head>
  <body>
    {{> header}}
    body
    {{> scripts}}
    {{> footer}}
  </body>
</html>
