<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{#if title}}{{title}}{{else}}Agile Web Developer 101{{/if}}</title>
    {{> styles}}
  </head>
  <body>
    {{> header}}
    {{> content }}
    {{> footer}}
    {{> scripts}}
  </body>
</html>
